<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'assets/fonts/linearicons/style.css' %}">

	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/otp.css' %}">

	</head>
	<body class="img js-fullheight" >
	
        	
		<div class="wrapper">
			<div class="inner">
				<img src="{% static 'assets/images/image-2.png' %}" alt="" class="image-1">
				<form action=""  method="POST" onsubmit="return combineOTPAndSubmit(this)">
					{% csrf_token %}
					<h3>OTP</h3>
					

					<div class="otp-inputs" id="inputs">
						
						<input type="text" inputmode="numeric" id="otp1" name="otp1" maxlength="1" pattern="\d"  class="form-control"  required >
                        <input type="text" inputmode="numeric" id="otp2" name="otp2" maxlength="1" pattern="\d"  class="form-control"  required >
                        <input type="text" inputmode="numeric" id="otp3" name="otp3" maxlength="1" pattern="\d"  required >
                        <input type="text" inputmode="numeric" id="otp4" name="otp4" maxlength="1" pattern="\d"  required >
                        <input type="text" inputmode="numeric" id="otp5" name="otp5" maxlength="1" pattern="\d"  required >
                        <input type="text" inputmode="numeric" id="otp6" name="otp6" maxlength="1" pattern="\d"  required>
					</div>
					
					
					<button type="submit">
						<span>Verify OTP</span>
					</button>
					<br><br>
			


				</form>
				<img src="{% static 'assets/images/image-2.png' %}" alt="" class="image-2">
			</div>

		</div>

		<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}','', 'warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                    swal('{{i}}','', 'error');
                </script>
            {% else %}
                <script>
                    swal('{{i}}','', 'success');
                </script>
            {% endif %}

        {% endfor %}
    {% endif %}
    <script>
        // script.js
        const inputs = document.getElementById("inputs");
        
        inputs.addEventListener("input", function (e) {
            const target = e.target;
            const val = target.value;
        
            if (isNaN(val)) {
                target.value = "";
                return;
            }
        
            if (val != "") {
                const next = target.nextElementSibling;
                if (next) {
                    next.focus();
                }
            }
        });
        
        inputs.addEventListener("keyup", function (e) {
            const target = e.target;
            const key = e.key.toLowerCase();
        
            if (key == "backspace" || key == "delete") {
                target.value = "";
                const prev = target.previousElementSibling;
                if (prev) {
                    prev.focus();
                }
                return;
            }
        });
        
         function combineOTPAndSubmit(form) {
                // Combine the values from individual OTP input fields
                const otp = [
                    form.otp1.value,
                    form.otp2.value,
                    form.otp3.value,
                    form.otp4.value,
                    form.otp5.value,
                    form.otp6.value
                ].join('');  // Concatenate to create a single OTP string
        
                // Find or create a hidden input to store the combined OTP
                let otpHiddenInput = form.querySelector("input[name='otp']");
                if (!otpHiddenInput) {
                    otpHiddenInput = document.createElement('input');
                    otpHiddenInput.type = 'hidden';
                    otpHiddenInput.name = 'otp';
                    form.appendChild(otpHiddenInput);
                }
        
                // Set the combined OTP to the hidden input's value
                otpHiddenInput.value = otp;
        
                return true;  // Allow the form to be submitted
            }
        
        
        
        
        </script>

    
        
	</body>
</html>


